.App {
  text-align: center;
}

.Board {
  display: inline-block;
  width: auto;
  margin: 25px 0 0 0;
  box-shadow: 0px 5px 10px -2px #000;
  background: #ddd;
}

.Row {
  display: block;
  height: 8px;
  line-height: 0px;
}

/* Cell Component */
.Cell {
  display: inline-block;
  width: 8px;
  height: 8px;
  
  background: #e67e22;
  opacity: 0;
  transition: opacity 0.1s 0s ease-out;
}
.Cell:hover {
  opacity: 0.3;
  transition: none;
}
.Cell.filled {
  opacity: 1;
  transition: none;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
}
button {
  width: 115px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 0;
  border: none;
  box-shadow: 0px 5px 10px -2px #000;
  background: #ddd;
  color: #555;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
button:first-child {
  margin-right: 10px;
}
button:active {
  position: relative;
  top: 1px;
  box-shadow: 0px 1px 10px -5px #000;
}
button:focus {
  outline: none;
}
